.btn{
    background-color: rgb(154, 108, 73);
    box-shadow: 5px 5px 10px rgb(96, 95, 95);
    size:  200px 50px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-top: 350px;
    margin-left: 40px;
    
    
    
    
}

.btn:hover{
    background-color: rgb(155, 135, 119);
    size: 210px 55px;
}

    
    
